.weathercard_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #ffffff;
}
.weathercard_day {
  display: flex;
  flex: 1;
  justify-content: center;
  border-right: 2px solid #ffffff;
  height: 100%;
}
.weathercard_content {
  display: flex;
  flex: 4;
  justify-content: space-between;
  padding: 5px 12px;
     img{
          margin-left: 11px;
          padding-top: 5px;
     }
}
