.wrapper{
     width: 209px;
     height: 166px;
     background: #FFFFFF;
     border-radius: 20px;
     background: linear-gradient(to bottom, #BFC6DD, #D9D9D9);

     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_wrap{
     display: flex;
     border-bottom: 2px solid #FFFFFF;
     gap: 15px;
     align-items: center;
     padding: 0 9px;
     
     &img {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
}

.content_wrap{

}